# .env — WC2026 Ticketing
SECRET_KEY=y@ghi4mvg8z@b!fh6_vqtz_tl9n=#qlkc76b695b0g)c_@k7%1
DEBUG=false
DATABASE_URL=postgresql://postgres.avkvzmirjndzmedmrdpj:0aYKyAGFLQwRERMg@aws-1-eu-north-1.pooler.supabase.com:6543/postgres
PAYSTACK_PUBLIC_KEY=pk_live_7c486f129cbc0c04c61191116f1ea903248819e4
PAYSTACK_SECRET_KEY=sk_test_xxx
PYTHON_VERSION3.11.9
ALLOWED_HOSTS=wc2026-tickets.onrender.com
ADMIN_URL=wc2026-admin/
